#logo-signature {
  width: 50%;
}

#box-5 h3 {
  font-size: 1.75rem;
}

.gallery {
  flex-wrap: wrap;
  justify-content: space-around;
}

.gallery-image {
  width: 30%;
  height: 100%;
}

.modal-visibility {
  display: block;
}
